.footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:50px;
}

.links{
    margin:20px 0;
    display:flex;
    justify-content:center;
    gap:30px;
}

.links span{
    cursor:pointer;
}

.links span:hover{
    color:orange;
}