.hero{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#4f46e5,#2563eb);
    color:white;
}

.hero h1{
    color:white;
}

.hero p{
    font-size:22px;
    max-width:700px;
    margin:auto;
    margin-bottom:35px;
}

.shop-btn,
.explore-btn{
    padding:14px 35px;
    margin:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

.shop-btn{
    background:white;
    color:#2563eb;
}

.explore-btn{
    background:orange;
    color:white;
}